<!doctype html>
<html class="no-js" lang="">

<head>

    <meta charset="utf-8">
    <title> .about() </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="apple-touch-icon" href="icon.png">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollTrigger/1.0.6/ScrollTrigger.js" integrity="sha512-alUs/9QWS9TdxYygQKopHrjMK9T+Tun55+1EKgiG8lCSHSL2Br7p69RsCFCycu2T2I707/8Y0vkyjTVGHdfHUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <meta name="theme-color" content="#fafafa">
</head>

<body>

<header>
    <div class="logo">
        <span>.hub()</span>
    </div>
    <nav>
        <a href="/" class="a">.project()</a>
        <a href="/about" class="p">.about()</a>
        <div class="icons">
            <a href="#" class="i">
                <i class="far fa-file fa-lg"></i>
            </a>
            <a href="#" class="i">
                <i class="fab fa-github fa-lg"></i>
            </a>
        </div>
    </nav>

</header>

<div class="design">


    <div class="left"></div>

    <div class="center">
        <div class="hider"></div>
        <div class="dot"></div>
        <div class="line"></div>
    </div>




    <div class="right">
        <div class="welcome" id="upper-div">

            <div class="ltl">
                <h3 class="sas">
                   <span class="local">tech</span>.stacks()
                </h3>

            </div>

            <div class="searchBox">
                <p class="stackfull">
                    Behind the scenes of our digital canvas, discover the artistry of our tech stack.

                </p>

                <p class="stackfull">
                    It's like sipping on a perfectly crafted coffee while the playlist sets the tone for innovation.
                </p>

                <p class="stackfull">

                    Here's the composition of our tech symphony:

                </p>
                <p class="sttech">
                    <span class="stack">.frontend(): </span> HTML, CSS, JavaScript, Gsap, Lenis.
                </p>
                <p class="sttech">
                    <span class="stack">.backend(): </span> Python, Flask, folium, sqlite3.
                </p>
            </div>




        </div>

        <div class="whatnwhy" id="lower-div">
<!--            <h1 class="wnw aos-item aos-init aos-animate" data-aos="zoom-in-down" data-aos-duration="3000">.team<span class="local">()</span>-->
<!--            </h1>-->
            <div class="ltl">
                <h3 class="sas">
                    <span class="local">the</span>.team()
                </h3>

            </div>

            <p class="stackfull work">
                Meet our full-stack team—merging Indian vibrancy into every line of code. We code, design, and innovate to the rhythm of coffee, curated music, and boundless passion. 🚀☕🎵
            </p>
            <p class="sttech lazy">
                <span class="stack">.frontend(): </span> .akash, .sajal
            </p>
            <p class="sttech lazy">
                <span class="stack">.backend(): </span> .mrigank, .kunal
            </p>
            <p class="sttech lazy">
                <span class="stack">.ppt(): </span> .sajal, .kunal 
            </p>
            <p class="sttech lazy">
                <span class="stack">.report(): </span> .kunal, .rounak
            </p>

            <div class="cursor2"></div>

        </div>
    </div>
</div>















<div class="cursor"></div>



<!------------------------------------------------Scripts------------------------------------------------>

<script src="https://unpkg.com/gsap@3.9.0/dist/gsap.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
<script>
    AOS.init();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/EaselPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/EasePack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/CustomEase.min.js"></script>
<script src="https://kit.fontawesome.com/d0bb4cd3e4.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script>
<script src="https://www.google-analytics.com/analytics.js" async></script>



<script>



</script>
</body>

</html>
