<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cd1a146d789204143d14cd61f8d64d42 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_cd1a146d789204143d14cd61f8d64d42" ></div>
        
</body>
<script>
    
    
            var map_cd1a146d789204143d14cd61f8d64d42 = L.map(
                "map_cd1a146d789204143d14cd61f8d64d42",
                {
                    center: [23.57720301030994, 87.23297952732543],
                    crs: L.CRS.EPSG3857,
                    zoom: 20,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6cc077a456c439e9d6d030989a013c19 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_cd1a146d789204143d14cd61f8d64d42);
        
    
            var feature_group_af39997c50aefc1474337bb75e871507 = L.featureGroup(
                {}
            ).addTo(map_cd1a146d789204143d14cd61f8d64d42);
        
    
            var marker_008202f707519b430382dd19cc032e31 = L.marker(
                [23.57720301030994, 87.23297952732543],
                {}
            ).addTo(feature_group_af39997c50aefc1474337bb75e871507);
        
    
            var icon_a42a0010a287d46db43b7f87974df6cb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_008202f707519b430382dd19cc032e31.setIcon(icon_a42a0010a287d46db43b7f87974df6cb);
        
    
        var popup_f5b63c16c871aa4e2fe988c1b7df61c5 = L.popup({"maxWidth": "100%"});

        
            
                var html_cad7f611e8d70742d66f9d54ad8497a0 = $(`<div id="html_cad7f611e8d70742d66f9d54ad8497a0" style="width: 100.0%; height: 100.0%;"><h4><b>Home<b></h4></div>`)[0];
                popup_f5b63c16c871aa4e2fe988c1b7df61c5.setContent(html_cad7f611e8d70742d66f9d54ad8497a0);
            
        

        marker_008202f707519b430382dd19cc032e31.bindPopup(popup_f5b63c16c871aa4e2fe988c1b7df61c5)
        ;

        
    
    
            var marker_bf6e7a1b6b5e031b743acbf4ee24fc0b = L.marker(
                [23.57479615853802, 87.23219233416339],
                {}
            ).addTo(feature_group_af39997c50aefc1474337bb75e871507);
        
    
            var icon_44cf24baf679f7d3e3f9e55969dd2715 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_bf6e7a1b6b5e031b743acbf4ee24fc0b.setIcon(icon_44cf24baf679f7d3e3f9e55969dd2715);
        
    
        var popup_abb4942dc716f56bde9c6f42a6eba9b9 = L.popup({"maxWidth": 300});

        
            
                var html_f1dedf707225ed9d8aff1e4f498681a8 = $(`<div id="html_f1dedf707225ed9d8aff1e4f498681a8" style="width: 100.0%; height: 100.0%;"><h3><b>Kanchan Watch</b></h3><br><b>Product Name:</b> Casio G-Shock Analog-Digital Black Dial Men GM-B2100D-1ADR (G1270)<br><b>Price:</b> 25000</div>`)[0];
                popup_abb4942dc716f56bde9c6f42a6eba9b9.setContent(html_f1dedf707225ed9d8aff1e4f498681a8);
            
        

        marker_bf6e7a1b6b5e031b743acbf4ee24fc0b.bindPopup(popup_abb4942dc716f56bde9c6f42a6eba9b9)
        ;

        
    
    
            var marker_4def19fabc1ad37fc9ca74a7d486759d = L.marker(
                [23.576228658612298, 87.23131197640271],
                {}
            ).addTo(feature_group_af39997c50aefc1474337bb75e871507);
        
    
            var icon_7fbd7128176b13c2ce2de842d767b3aa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_4def19fabc1ad37fc9ca74a7d486759d.setIcon(icon_7fbd7128176b13c2ce2de842d767b3aa);
        
    
        var popup_9471a2bf6182ed22da6ca8ce61f1d505 = L.popup({"maxWidth": 300});

        
            
                var html_1c32ab456ef238beb6e73fc0fb85a91e = $(`<div id="html_1c32ab456ef238beb6e73fc0fb85a91e" style="width: 100.0%; height: 100.0%;"><h3><b>City Watch Co.</b></h3><br><b>Product Name:</b> Casio G-Shock Analog-Digital Black Dial Men GM-B2100D-1ADR (G1270)<br><b>Price:</b> 27000</div>`)[0];
                popup_9471a2bf6182ed22da6ca8ce61f1d505.setContent(html_1c32ab456ef238beb6e73fc0fb85a91e);
            
        

        marker_4def19fabc1ad37fc9ca74a7d486759d.bindPopup(popup_9471a2bf6182ed22da6ca8ce61f1d505)
        ;

        
    
    
            var marker_7afe6def57d2a7aba09ba245fd8df94c = L.marker(
                [23.574410257889, 87.2329706214571],
                {}
            ).addTo(feature_group_af39997c50aefc1474337bb75e871507);
        
    
            var icon_5692a2e8c2be7f013ad62bb2120ed2dc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_7afe6def57d2a7aba09ba245fd8df94c.setIcon(icon_5692a2e8c2be7f013ad62bb2120ed2dc);
        
    
        var popup_71a7811ce6a05266d40c886d8e8a8e31 = L.popup({"maxWidth": 300});

        
            
                var html_5f3b9db54b22edfca53ade1812781210 = $(`<div id="html_5f3b9db54b22edfca53ade1812781210" style="width: 100.0%; height: 100.0%;"><h3><b>Modern Watch Co.</b></h3><br><b>Product Name:</b> Casio G-Shock Analog-Digital Black Dial Men GM-B2100D-1ADR (G1270)<br><b>Price:</b> 30000</div>`)[0];
                popup_71a7811ce6a05266d40c886d8e8a8e31.setContent(html_5f3b9db54b22edfca53ade1812781210);
            
        

        marker_7afe6def57d2a7aba09ba245fd8df94c.bindPopup(popup_71a7811ce6a05266d40c886d8e8a8e31)
        ;

        
    
    
            var marker_0234e31c7db96d50c0cddb0c026b6ebc = L.marker(
                [23.575649813520005, 87.23266441006287],
                {}
            ).addTo(feature_group_af39997c50aefc1474337bb75e871507);
        
    
            var icon_0a763e1569d063d8e4f3acb3fdcff08b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_0234e31c7db96d50c0cddb0c026b6ebc.setIcon(icon_0a763e1569d063d8e4f3acb3fdcff08b);
        
    
        var popup_6270c36e11ba73a15174416879f74342 = L.popup({"maxWidth": 300});

        
            
                var html_a297a3dbfd36a05cd58febe64b166e9d = $(`<div id="html_a297a3dbfd36a05cd58febe64b166e9d" style="width: 100.0%; height: 100.0%;"><h3><b>Helios Watch store</b></h3><br><b>Product Name:</b> Casio G-Shock Analog-Digital Black Dial Men GM-B2100D-1ADR (G1270)<br><b>Price:</b> 30000</div>`)[0];
                popup_6270c36e11ba73a15174416879f74342.setContent(html_a297a3dbfd36a05cd58febe64b166e9d);
            
        

        marker_0234e31c7db96d50c0cddb0c026b6ebc.bindPopup(popup_6270c36e11ba73a15174416879f74342)
        ;

        
    
</script>
</html>